.footer__copyright{
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}
@media screen and (max-width: 910px){
    .footer__copyright{
        margin-left: 19px;
    }
}